{% extends 'blogging/base.html' %} {% block title %} Home {% endblock title %}
{% block content %}
<div class="col-sm-12 mt-5">
    <h3 class="text-white mb-4">About Page</h3>
  <p class="lead">

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tenetur
    explicabo harum, quisquam atque officia sequi molestiae neque sit commodi
    porro iure dolor consequatur aut totam dolores odit. Delectus facilis veniam
    nobis officia laudantium, ratione totam neque eos? Nemo, praesentium quia.
    Dolorum culpa ullam deleniti, a nemo explicabo assumenda perspiciatis
    quaerat illo exercitationem provident sequi nostrum ipsam incidunt! Veniam
    ad eligendi a. Autem aperiam quaerat, itaque soluta culpa aut iusto nisi
    architecto atque, beatae quod quia reprehenderit sapiente explicabo odit,
    tempore non quibusdam? Libero fugiat quod earum laudantium, eligendi,
    obcaecati laboriosam laborum ratione nesciunt eius harum corporis ipsam
    placeat exercitationem pariatur quas. Illum vitae a dolores excepturi
    cupiditate recusandae doloribus deleniti asperiores esse sequi. Corporis
    obcaecati perspiciatis est corrupti illo dolor maxime a non quae! Tempora
    sed eligendi quisquam, necessitatibus ipsum totam architecto? Quis
    consectetur odit assumenda placeat tenetur quod mollitia fugit accusamus
    soluta inventore, modi nostrum deleniti. Placeat culpa animi odit porro
    numquam. Corporis ab laborum nemo tempora at perspiciatis tempore rem
    aperiam? Obcaecati deserunt distinctio est aspernatur alias quo quibusdam
    hic, voluptatem, autem officia quae quia reiciendis. Voluptas accusantium
    dignissimos laborum soluta a quos ratione eaque odit est quae sapiente
    asperiores sequi nihil, architecto quisquam magni maxime ad consequatur
    necessitatibus. Error dignissimos facilis officiis veniam dicta voluptate
    molestiae, placeat tempora, iusto maxime et sequi ipsam consequuntur
    sapiente amet tenetur? Hic quam quia quod quaerat. Placeat in dolorem optio
    omnis saepe quos cum molestias autem debitis corrupti veritatis mollitia,
    voluptatem inventore fugit explicabo ut eveniet fugiat maxime deserunt
    asperiores quaerat necessitatibus recusandae quam. Numquam recusandae, quam
    aut inventore, nostrum delectus omnis molestiae cum quos sint sequi dolore.
    Ut eligendi possimus vero laboriosam minima consectetur est voluptates alias
    doloribus, veniam facilis suscipit delectus tenetur natus at aperiam, quae
    rerum incidunt hic. Similique assumenda dignissimos ad architecto illum
    accusamus. Vero, modi!
  </p>
  {% endblock content %}
</div>
