<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
      <a href="{% url 'home' %}" class="navbar-brand"> Mini Blog</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'about' %}"  class="nav-link">About </a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'dashboard' %}"   class="nav-link">Dashboard </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{% url 'contact' %}"  class="nav-link">Contact </a>
          </li>
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'sign_in' %}"  class="nav-link">Sign_in </a>
          </li>
          {% endif %}
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
              <a href="{% url 'sign_up' %}" class="nav-link">Sign_up </a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'logout' %}"  class="nav-link">Logout </a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>